*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      background-color: #fff;
      font-family: 'Outfit', sans-serif;
  }
  .container{
    padding: 0 10%;
  }
  /*----Nav-----*/
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    height: 50px;
    box-shadow: 0 10px 10px  rgb(241, 237, 237);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  .logo{
    width: 45px;
    margin-left: 80px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li:last-child{
    margin-right: 120px;
  }
  nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a:hover{
    color: #ff1010;
  }
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0020c2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover::after{
    width: 100%;
  }
  .menu-icon, .close-icon{
    display: none;
  }
  #light{
    display: none;
  }
  .close-icon{
    font-size: 26px;
  }
  /*----Home-----*/

  .home-page{
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-items: center;
    height: 100vh;
  }
  main{
    margin-top: 50px;
  }
  .name{
    color: #0020c2;
  }
  .contact-me, .download{
    text-decoration: none;
    margin: 10px;
    margin-top: 20px;
    margin-left: 0;
    border: 1px solid #0020c2;
    color: black;
    padding: 8px;
    border-radius: 10px;
  }
  .download{
    background-color: #0020c2;
    color: #fff;
  }
  a:hover{
    color: #333;
    background-color: #6495ed;
  }
  .home-p{
    margin-top: 5px;
    line-height: 20px;
    font-size: 18px;
  }
  .home-image{
    width: 80%;
  }
  /*----About-----*/
  .about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    background-color: ;
  }
  .about-me{
    margin-top: 20px;
  }
  .about{
    color: black;
    position: relative;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: 100vh;
    line-height: 2;
    margin-top: 50px;
  }
  .about h1{
    font-size: 30px;
  }
  .titles{
    display: flex;
    margin: 60px 0 40px;
  }
  .title-links{
    margin-right: 50px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  .title-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0020c2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    display: inline-block;
  }
  .title-links.active-link::after{
    width: 100%;
  }
  
  .tab-content{
    display: none;
  }
  .tab-content.active-tab{
    display: block;
  }
  .freelance-exp{
    margin-top: 10px;
    line-height: 1.5;
  }
  .intern-exp{
    line-height: 1.5;
  }
  .skill-list, .education{
    line-height: 2;
  }
  /*----Portfolio-----*/
  .portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 200px;
    column-gap: 30px;
  }
  .portfolio-text{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .work{
    width: 100%;
    
  }
  .work-img{
    width: 100%;
    border-radius: 10px;
  }
  .work-container{
    padding: 20px;
    background-color: #fffafa;
    box-shadow: 2px 1px 3px 4px #b4cfec;
    border-radius: 10px;
  }
  .repo, .link{
    border-radius: 30px;
    padding: 2px 10px;
    background-color: #6495ed;
    color: #fff;
    text-decoration: none;
  }

  /*----Contact-----*/
  .contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -80px;
  }
  .Contact{
    margin-bottom: 60px;
  }
  .contact-info{
    border: none;
    border-radius: 10px;
    height: 12vh;
    background-color: #6495ed;
    margin-bottom: 10px;
    width: 90%;
  }
  .social-media{
    margin-top: 70px;
  }
  .contact-info h3{
    text-align: center;
  }
  .form-heading{
    font-size: 25px;
    margin: 20px 0;
  }
  .form-name, .form-email{
    margin: 5px 0;
    width: 90%;
    height: 5vh;
    border: 1px solid #6495ed;
    border-radius: 4px;
  }
  .form-text{
    width: 90%;
    border: 1px solid #6495ed;
    border-radius: 4px;
  }
  .btn-send{
    width: 100px;
    height: 4vh;
    background-color: #6495ed;
    border: none;
    border-radius: 5px;
  }
  /*----Footer-----*/
  .footer{
    background-color: #6495ed;
    height: 20vh;
    text-align: center;
  }
  .fa-brands{
    color: #fff;
    border: 1px solid #6495ed;
    background-color: #0020c2;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-top: 20px;
  }
  /*----Dark mode-----*/
  .container.dark{
    background-color: black;
    color: #fff;
  }


  @media (min-width: 375px) and (max-width: 600px){
    nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  height: 50px;
  box-shadow: 0 10px 50px  rgba(241, 237, 237, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.logo{
  width: 45px;
  margin-left: 15px;
  position: absolute;
}
nav ul li{
  display: block;
  margin-top: 50px;
  text-align: center;
}
nav ul li:first-child{
  margin-top: 25px;
}
nav ul li:last-child{
    margin-right: 20px;
  }
.menu #menu-list{
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 50%;
  display: block;
  height: 50vh;
  transform: translateX(0%);
}
#menu-list{
  display: none;
  transition: all 1s ease-in;
  transform: translateX(100%);
}
.menu-icon, .close-icon{
  display: block;
  position: absolute;
  top: 0.2;
  right: 20px;
}
.close-icon{
  display: none;
  position: absolute;
  top: 0.2;
  right: 20px;
}
.menu .menu-icon{
  display: none;
}
.menu .close-icon{
  display: block;
  color: black;
}
#light{
  display: block;
  position: absolute;
  top: 0.2;
  right: 50px;
}
/*----home-----*/
.home-page{
  display: block;
}
.home-image{
  margin-top: 50px;
}
main{
  margin-top: 100px;
}
/*----About-----*/
.about-container{
  display: block;
  margin-bottom: 50px;
 
}
.about h1{
  text-align: center;
  
}
.titles{
  margin-top: -80px;
}
.about{
  
}
/*----Portfolio-----*/
.portfolio{
  display: block;
  margin-bottom: 200px;
}
.portfolio-text{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.work-img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.work-container{
  padding: 20px;
  background-color: #fffafa;
  box-shadow: 2px 1px 3px 4px #b4cfec;
  border-radius: 10px;
  margin-bottom: 30px;
}
/*----Contact-----*/
.contact-container{
  display: block;
  margin-bottom: 50px;
}
.form-heading{
  font-size: 25px;
  margin: 20px 0;
}
.form-name, .form-email{
  margin: 5px 0;
  width: 90%;
  height: 5vh;
}
.form-text{
  width: 90%;
}
.btn-send{
  width: 100px;
  height: 4vh;
}
/*----Footer-----*/

  }